@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-9');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --font-gotham: 'Gotham';
    --font-clash-display: 'Clash Display';
    --font-satoshi: 'Satoshi';
    --font-outfit: 'Outfit';
    --font-poppins: 'Poppins';
    --font-regular: 'regular';
    --font-bold: 'Bold';
    --font-medium: 'Medium';
    --font-light: 'Light';
    --font-semibold: 'SemiBold';
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --white-color: #FFFFFF;
    --white-half: #EFF1F9;
    --color-mains-down: background: linear-gradient(180deg, #fff, #999);
    --gray-color-40: #bdbdbd;
    --gray-color-darker: #3A4046;
    --gray-color-old-darks: #252628;
    --teal-green-color: #5CFFC5;
    --teal-green-colors-playing: #5DFCC6;
    --teal-green-linear-shades: #5CFEC533;
    --teal-green-linear-color: #5CFEC5;
    --dark-black-selection-color: #27282A;
    --dark-gray-color: #D9D9D9;
    --gray-color-opacity-10: #FFFFFF1A;
    ---white-border-color-opacity-40: #FFFFFF66;
    --purple-color-back: #703BEC;
    --purple-color-mixed-25: #703BEC40;
    --purple-background-main: #070322;
    --background-card-dark-to-light-teal-10: #5CFFC51A;
    --background-card-dark-to-light-teal-20: #5CFFC533;
    --background-card-dark-to-light-teal-50: #5CFFC580;
    --background-dark-gray-80: #27282ACC;
}


/* navbar section */
.light-background {
    background-image: url(../images/lignting-navbar.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.7;
}

.star-background {
    background: url(../images/navbar-stars.png);
    background-repeat: no-repeat;
    width: 100%;
}

.navbar-main-all {
  border: 1px solid var(--gray-color-opacity-10);
  background-color: var(--gray-color-opacity-10);
}

.navbar-main-all .active{
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--teal-green-color);
}

nav div a {
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--white-color);
}

nav div a:hover {
  color: var(--teal-green-color);
}

.big-heading-hero-section {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 80px;
  line-height: 120%;
  letter-spacing: -4%;
  text-transform: capitalize;
  color: var(--white-half);
}

.big-heading-hero-section-2 {
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-500);
    font-style: var(--font-medium);
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -4%;
    text-transform: capitalize;
    color: var(--teal-green-color);
}

.mask-color-span-3 {
    background: linear-gradient(180deg, #fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-sec-description-bottom-big {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--white-half);
}

@media (min-width: 425px) {
  .big-heading-hero-section, 
  .big-heading-hero-section-2 {
    font-size: 48px;
  }
  
  .hero-sec-description-bottom-big {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .big-heading-hero-section, 
  .big-heading-hero-section-2 {
    font-size: 60px;
    letter-spacing: -3%;
  }

  .hero-sec-description-bottom-big {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .navbar-main-all .active{
    font-weight: var(--font-weight-500);
    font-style: var(--font-medium);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--teal-green-color);
  }

  .big-heading-hero-section, 
  .big-heading-hero-section-2 {
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -4%;
  }

  .hero-sec-description-bottom-big {
    font-size: 20px;
    line-height: 30px;
  }
}


/* must read post section */
.must-read-post {
    background-color: var(--background-dark-gray-80);
    border: 1.11px solid var(--gradient-outline, rgba(74, 74, 74, 0.70));
}

.must-read-post:hover {
    background-color: var(--background-card-dark-to-light-teal-20);
    border: 1.11px solid var(--teal-green-color);
}

.must-read-post span {
    border: 1.11px solid var(--teal-green-color);
    color: var(--teal-green-color);
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-400);
    font-style: var(--font-regular);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    gap: 17px;
}

.must-read-post h2 {
    background: linear-gradient(180deg, #fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-500);
    font-style: var(--font-medium);
    font-size: 29px;
    line-height: 36px;
    letter-spacing: 0%;
}

.must-read-post p {
    background: linear-gradient(180deg, #fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-400);
    font-style: var(--font-regular);
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0%;
}

.read-post-date {
    color: var(--gray-color-40);
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-500);
    font-style: var(--font-regular);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
}

.blog-article-main-heading {
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-500);
    font-style: var(--font-medium);
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -4%;
    background: linear-gradient(180deg, #fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-blog-article-heading {
    color: var(--teal-green-color);
    font-family: var(--font-outfit);
    font-weight: var(--font-weight-500);
    font-style: var(--font-medium);
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -4%;
}

@media (min-width: 425px) {
  .blog-article-main-heading, .green-blog-article-heading {
      font-size: 30px;
  }
  .must-read-post {
      padding: 2.5rem;
  }
}

@media (min-width: 600px) {
  .blog-article-main-heading, .green-blog-article-heading {
      font-size: 40px;
  }
  .must-read-post h2 {
      font-size: 26px;
  }
}

@media (min-width: 768px) {
  .blog-article-main-heading, .green-blog-article-heading {
      font-size: 64px;
      line-height: 80px;
  }
  .must-read-post h2 {
      font-size: 29px;
      line-height: 36px;
  }
  .must-read-post p {
      font-size: 18px;
      line-height: 200%;
  }
  .must-read-post span {
      font-size: 16px;
  }
  .read-post-date {
      font-size: 18px;
  }
}


/* latest section */
.grid-background-section {
  background-image: url(../images/images-aboutus/grid-dark-background-full.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
}

.latest-post-section-all h1{
  color: var(--teal-green-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 63px;
  line-height: 80px;
  letter-spacing: -4%;
}

.latest-post-section-all h1, span{
  color: var(--white-color);
}

.latest-post-selector {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 15px;
  letter-spacing: 0%;
}

.cards-grid-post {
  background-color: var(--background-dark-gray-80);
}

.cards-grid-post:hover {
  background-color: var(--background-card-dark-to-light-teal-20);
  border: 1px solid var(--teal-green-color);
}

.cards-grid-post span{
  color: var(--teal-green-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 13px;
  letter-spacing: 0%;
  line-height: 19px;
  border: 1px solid var(--teal-green-color);
  gap: 12px;
}

.cards-grid-post-date {
  color: var(--gray-color-40);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 15px;
  letter-spacing: 0%;
  line-height: 30px;
}

.cards-grid-post h3 {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.latest-post-button-last {
  border: 1px solid #404040;
  color: var(--teal-green-color);
}

@media (min-width: 425px) {
  .latest-post-section-all h1 {
    font-size: 40px;
  }
  .latest-post-selector {
    font-size: 14px;
  }
  .latest-post-selector {
    display: none;
  }
}

@media (min-width: 600px) {
  .latest-post-section-all h1 {
    font-size: 50px;
  }
  .cards-grid-post h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .latest-post-section-all h1 {
    font-size: 63px;
    line-height: 80px;
  }
  .cards-grid-post span {
    font-size: 13px;
  }
}


/* what our clients say section */
@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.what-our-client-say-heading span {
  background-color: var(--purple-color-mixed-25);
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  gap: 12px;
}

.what-our-client-say-heading span .span-2{
  background-color: var(--purple-color-mixed-25);
  border: 1.11px solid var(--purple-color-back);
  gap: 12px;
}

.what-our-client-say-heading h2{
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -4%;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-all-inslider-user {
  background-color: var(--background-dark-gray-80);
  border-radius: 20px;
  border: 1px solid var(--dark-gray-color);
  gap: 45px;
}

.cards-all-inslider-user p {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}

.cards-all-inslider-user img {
  width: 63px;
  height: 63px;
}

.cards-all-inslider-user h4 {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 27px;
  line-height: 36px;
  letter-spacing: 0%;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-all-inslider-user span{
  color: var(--gray-color-40);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-light);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}

.cards-all-inslider-user:hover {
  background-color: var(--background-card-dark-to-light-teal-20);
  border: 2px solid var(--teal-green-color);
  transform: translateY(-10px);
}

.user-slider-fade {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (max-width: 425px) {
  .what-our-client-say-heading h2 {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -2%;
  }

  .cards-all-inslider-user {
    max-width: 300px !important;
    height: auto;
    padding: 24px !important;
    margin-right: 15px;
  }

  .cards-all-inslider-user p {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .cards-all-inslider-user h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .cards-all-inslider-user span {
    font-size: 12px;
  }

  .cards-all-inslider-user img {
    width: 48px;
    height: 48px;
  }
  
  #sliderRow1, #sliderRow2 {
    animation-duration: 30s !important;
  }
}

@media (min-width: 600px) {
  .what-our-client-say-heading span {
    font-size: 16px;
    line-height: 26px;
  }

  .what-our-client-say-heading h2 {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -2%;
  }

  .cards-all-inslider-user {
    max-width: 360px;
    padding: 28px;
    gap: 30px;
  }

  .cards-all-inslider-user p {
    font-size: 16px;
    line-height: 150%;
  }

  .cards-all-inslider-user h4 {
    font-size: 22px;
    line-height: 30px;
  }

  .cards-all-inslider-user span {
    font-size: 14px;
  }

  .cards-all-inslider-user img {
    width: 55px;
    height: 55px;
  }

  #sliderRow1, 
  #sliderRow2 {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .what-our-client-say-heading h2 {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: -3%;
  }

  .cards-all-inslider-user {
    max-width: 420px;
    padding: 32px;
    gap: 40px;
  }

  .cards-all-inslider-user p {
    font-size: 17px;
    line-height: 160%;
  }

  .cards-all-inslider-user h4 {
    font-size: 24px;
  }

  .cards-all-inslider-user span {
    font-size: 15px;
  }

  .cards-all-inslider-user img {
    width: 60px;
    height: 60px;
  }

  #sliderRow1, 
  #sliderRow2 {
    gap: 24px;
  }
}


/* lets build what matter section */
.background-bulid-matters {
  box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.17) inset;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  background: linear-gradient(99.82deg, #7163e9, #4b3ad9);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.background-bulid-matters-text h2 {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 65px;
  line-height: 120%;
  letter-spacing: 0%;
}

.background-bulid-matters-text p {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.background-bulid-matters-text button {
  background-color: var(--teal-green-colors-playing);
  color: var(--dark-black-selection-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-600);
  font-style: var(--font-bold);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.background-bulid-matters-circle-down {
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 425px) {
  .background-bulid-matters-text h2 {
    font-size: 28px;
    line-height: 120%;
  }

  .background-bulid-matters-text p {
    font-size: 14px;
    line-height: 140%;
  }

  .background-bulid-matters-text button {
    font-size: 16px;
    padding: 10px 24px;
  }

  .background-bulid-matters-circle-down {
    width: 300px;
    height: 200px;
    bottom: -60px;
  }
}

@media (min-width: 600px) {
  .background-bulid-matters-text h2 {
    font-size: 42px;
    line-height: 120%;
  }

  .background-bulid-matters-text p {
    font-size: 16px;
    line-height: 140%;
  }

  .background-bulid-matters-text button {
    font-size: 18px;
    padding: 12px 28px;
  }

  .background-bulid-matters-circle-down {
    width: 380px;
    height: 220px;
    bottom: -70px;
  }
}

@media (min-width: 768px) {
  .background-bulid-matters-text h2 {
    font-size: 54px;
    line-height: 120%;
  }

  .background-bulid-matters-text p {
    font-size: 18px;
  }

  .background-bulid-matters-text button {
    font-size: 19px;
    padding: 14px 32px;
  }

  .background-bulid-matters-circle-down {
    width: 450px;
    height: 260px;
    bottom: -80px;
  }
}


/* footer background section */
.bg-grid-pattern {
  background: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1%;
  transform: translateY(320px);
}

.grid-footer-slider-fade {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 90%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 90%, black 90%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bg-oval-circle-grid-pattern {
  background: url(../images/oval-footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 40%;
  transform: translateY(200px);
}

.foter-horizontal-row {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(232, 232, 232, 0.64) 27.88%, #c5c5c5 56.73%, rgba(153, 153, 153, 0.3)) border-box;
  border-top: 1.1px solid transparent;
  box-sizing: border-box;
}

.foter-heading-all-links h3 {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
}

.foter-heading-all-links ul li {
  opacity: 70%;
  color: var(--white-half);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-100);
  font-style: var(--font-regular);
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.foter-heading-all-links-newsletter h3{
  color: var(--white-half);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
}

.foter-heading-all-links-newsletter-input {
  background-color: var(--background-dark-gray-80);
  border: 1px solid var(--gray-color-opacity-10);
}

.foter-heading-all-links-newsletter-input input, placeholder{
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
}

.foter-heading-all-links-newsletter-input button{
  color: var(--dark-black-selection-color);
  background-color: var(--teal-green-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-700);
  font-style: var(--font-medium);
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  gap: 10px;
}

.footer-copyright-text {
  color: var(--white-half);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
  opacity: 70%;
}

@media (max-width: 425px) {
  footer {
    padding: 40px 20px;
  }

  footer .flex.flex-col.md\:flex-row {
    align-items: flex-start;
    gap: 20px;
  }

  footer img[alt="Finite Loop Logo"] {
    width: 160px;
    height: auto;
  }

  footer .flex.gap-4 {
    justify-content: flex-start;
  }

  footer .grid {
    grid-template-columns: 1fr !important;
    gap: 35px;
  }

  .foter-heading-all-links h3,
  .foter-heading-all-links-newsletter h3 {
    font-size: 18px;
  }

  .foter-heading-all-links ul li {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .foter-heading-all-links-newsletter-input {
    width: 100% !important;
    border-radius: 40px;
  }

  .foter-heading-all-links-newsletter-input input {
    font-size: 14px;
    padding: 10px 15px;
  }

  .foter-heading-all-links-newsletter-input button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .foter-horizontal-row {
    margin: 30px 0;
  }

  .footer-copyright-text {
    font-size: 13px;
    text-align: center;
  }

  .bg-oval-circle-grid-pattern {
    display: none;
  }

  .bg-grid-pattern {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  footer .flex.flex-col.md\:flex-row {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  footer .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .foter-heading-all-links h3,
  .foter-heading-all-links-newsletter h3 {
    font-size: 20px;
  }

  .foter-heading-all-links ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .foter-heading-all-links-newsletter-input {
    width: 90%;
  }

  .bg-oval-circle-grid-pattern {
    display: none;
  }

  .bg-grid-pattern {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  footer .flex.flex-col.md\:flex-row {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .foter-heading-all-links h3,
  .foter-heading-all-links-newsletter h3 {
    font-size: 22px;
  }

  .foter-heading-all-links ul li {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .foter-heading-all-links-newsletter-input {
    width: 20rem;
  }

  .bg-oval-circle-grid-pattern {
    display: none;
  }

  .bg-grid-pattern {
    display: none;
  }
}