@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-9');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --font-gotham: 'Gotham';
    --font-clash-display: 'Clash Display';
    --font-satoshi: 'Satoshi';
    --font-outfit: 'Outfit';
    --font-poppins: 'Poppins';
    --font-regular: 'regular';
    --font-bold: 'Bold';
    --font-medium: 'Medium';
    --font-light: 'Light';
    --font-semibold: 'SemiBold';
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --white-color: #FFFFFF;
    --white-half: #EFF1F9;
    --gray-color-40: #bdbdbd;
    --teal-green-color: #5CFFC5;
    --dark-black-selection-color: #27282A;
    --dark-gray-color: #D9D9D9;
    --gray-color-opacity-10: #FFFFFF1A;
    --purple-color-back: #703BEC;
    --purple-background-main: #070322;
    --background-card-dark-to-light-teal-10: #5CFFC51A;
    --background-card-dark-to-light-teal-20: #5CFFC533;
    --background-card-dark-to-light-teal-50: #5CFFC580;
    --background-dark-gray-80: #27282ACC;
}


/* navbar section */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.light-background {
    background-image: url(../images/lignting-navbar.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    /* opacity: 1; */
}

.star-background {
    background: url(../images/navbar-stars.png);
    background-repeat: no-repeat;
}

.navbar-main-all {
  border: 1px solid var(--gray-color-opacity-10);
  background-color: var(--gray-color-opacity-10);
}

.navbar-main-all .active{
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--teal-green-color);
}

nav div a {
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--white-color);
}

nav div a:hover {
  color: var(--teal-green-color);
}

.circle-curve {
  background-image: url(../images/hero-curve-circle.png);
  opacity: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  /* filter: blur(111.11px); */
  /* z-index: 11; */
}

.small-heading-hero-section {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 50px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--white-color);
}

.big-heading-hero-section-2 {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--teal-green-color);
}

.big-heading-hero-section {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--white-color);
}

.hero-sec-description-bottom-big {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--dark-gray-color);
}

.button-hero-section-bottom {
  background-color: var(--teal-green-color);
  gap: 12px;
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--dark-black-selection-color);
  backdrop-filter: blur(66.67px);
}

.hero-sec-description-bottom-small {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-light);
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  color: var(--white-color);
}

.border-top-hero-section {
  border-color: var(--gray-color-40);
}