@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-9');
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --font-gotham: 'Gotham';
    --font-clash-display: 'Clash Display';
    --font-satoshi: 'Satoshi';
    --font-outfit: 'Outfit';
    --font-poppins: 'Poppins';
    --font-regular: 'regular';
    --font-bold: 'Bold';
    --font-medium: 'Medium';
    --font-light: 'Light';
    --font-semibold: 'SemiBold';
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --white-color: #FFFFFF;
    --white-half: #EFF1F9;
    --gray-color-40: #bdbdbd;
    --gray-color-darker: #3A4046;
    --teal-green-color: #5CFFC5;
    --teal-green-linear-shades: #5CFEC533;
    --teal-green-linear-color: #5CFEC5;
    --dark-black-selection-color: #27282A;
    --dark-gray-color: #D9D9D9;
    --gray-color-opacity-10: #FFFFFF1A;
    ---white-border-color-opacity-40: #FFFFFF66;
    --purple-color-back: #703BEC;
    --purple-color-mixed-25: #703BEC40;
    --purple-background-main: #070322;
    --background-card-dark-to-light-teal-10: #5CFFC51A;
    --background-card-dark-to-light-teal-20: #5CFFC533;
    --background-card-dark-to-light-teal-50: #5CFFC580;
    --background-dark-gray-80: #27282ACC;
}


/* navbar section */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.light-background {
    background-image: url(../images/lignting-navbar.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.7;
}

.star-background {
    background: url(../images/navbar-stars.png);
    background-repeat: no-repeat;
}

.navbar-main-all {
  border: 1px solid var(--gray-color-opacity-10);
  background-color: var(--gray-color-opacity-10);
}

.navbar-main-all .active{
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--teal-green-color);
}

nav div a {
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--white-color);
}

nav div a:hover {
  color: var(--teal-green-color);
}

.circle-curve {
  object-fit: cover;
  background-repeat: no-repeat;
}

.small-heading-hero-section {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 50px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--white-color);
}

.big-heading-hero-section-2 {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--teal-green-color);
}

.big-heading-hero-section {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--white-color);
}

.hero-sec-description-bottom-big {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--dark-gray-color);
}

.button-hero-section-bottom {
  background-color: var(--teal-green-color);
  gap: 12px;
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--dark-black-selection-color);
  backdrop-filter: blur(66.67px);
}

.hero-sec-description-bottom-small {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-light);
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0%;
  color: var(--white-color);
}

.border-top-hero-section {
  border-color: var(--gray-color-40);
}

.slider-logo-text {
  font-family: var(--font-satoshi);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 36px;
  line-height: 90%;
  letter-spacing: -2.22px;
  color: var(--white-color);
}

.slider-fade {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (max-width: 425px) {

  .small-heading-hero-section {
    font-size: 25px;
    line-height: 80%;
  }

  .big-heading-hero-section,
  .big-heading-hero-section-2 {
    font-size: 27px;
    line-height: 140%;
  }

  .hero-sec-description-bottom-big {
    font-size: 17px;
    line-height: 130%;
    padding: 0 10px;
    margin-top: 20px;
  }

  .button-hero-section-bottom {
    font-size: 16px;
    padding: 12px 24px;
  }

  .hero-sec-description-bottom-small {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
  }

  .circle-curve {
    margin-top: 160px;
    opacity: 1;
  }

  .slider-logo-text {
    font-size: 18px;
  }

  #logoSlider img {
    height: 25px;
  }
}


/* Digital solution section */
.sservice-main-headings-all h2{
  font-size: 60px;
  color: var(--dark-gray-color);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  letter-spacing: -4%;
  line-height: 110%;
}

.sservice-main-headings-all p{
  font-size: 18px;
  color: var(--white-half);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-300);
  font-style: var(--font-light);
  letter-spacing: 0%;
  line-height: 140%;
}

.service-card-h2-highlight {
  font-size: 60px;
  color: var(--teal-green-color);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  letter-spacing: -4%;
  line-height: 110%;
}

.service-card {
    background: var(--background-dark-gray-80);
    border: 1.11px solid var(--gray-color-darker);
    border-radius: 20px;
    transition: all 0.1s ease;
}

.service-card:hover {
    background: var(--teal-green-linear-shades);
    border: 2px solid var(--teal-green-linear-color);
    border-radius: 20px;
    transform: translateY(-6px);
}

.service-card h3 {
  font-size: 32px;
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  letter-spacing: 0%;
  line-height: 120%;
  text-transform: capitalize;
}

.service-card p {
  font-size: 13px;
  color: var(--white-half);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-300);
  font-style: 'light';
  letter-spacing: 0%;
  line-height: 120%;
}

/* .service-card:hover .icon-box {
    background: #a855f7;
    color: white;
} */

@media (max-width: 425px) {
  /* section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  } */

  section .absolute.w-\[600px\] {
    width: 350px !important;
    height: 350px !important;
    top: 120px !important;
    opacity: 0.25;
  }

  .sservice-main-headings-all h2 {
    font-size: 25px !important;
    line-height: 120% !important;
    letter-spacing: 0 !important;
  }

  .service-card-h2-highlight {
    font-size: 25px !important;
  }

  .sservice-main-headings-all p {
    font-size: 11px !important;
    line-height: 150% !important;
    padding: 0 10px;
  }

  #servicesContainer {
    gap: 20px !important;
  }

  #servicesContainer {
    display: flex !important;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px !important;
    padding-bottom: 10px;
  }

  #servicesContainer::-webkit-scrollbar {
    display: none;
  }

  #servicesContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .service-card {
    margin-top: 10px;
    min-width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  .service-card {
    padding: 24px !important;
    border-radius: 16px;
  }

  .service-card h3 {
    font-size: 20px !important;
    line-height: 130% !important;
  }

  .service-card p {
    font-size: 11px !important;
    line-height: 150% !important;
  }

  .service-icon {
    width: 50px !important;
    height: 50px !important;
  }
}


/* Our Technology Stack section */
.tech-circle {
  background: url(../images/circles-vector-content.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 750px;
  opacity: 1;
}

.tech-badge {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 30px 6px 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(87, 201, 160, 0.1)), linear-gradient(rgba(3, 134, 110, 0.5), rgba(3, 134, 110, 0.5));
    border: 2px solid var(---white-border-color-opacity-40);
    border-radius: 999px;
    gap: 14px;
    /* backdrop-filter: blur(12px); */
    /* font-size: 12px; */
}

.tech-badge img{
    border: 1.11px solid rgba(255,255,255,0.1);
    border-radius: 50%;
}

.tech-badge h4 {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-700);
  font-style: var(--font-bold);
  font-size: 17.78px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.tech-badge p {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-100);
  font-style: var(--font-regular);
  font-size: 17.78px;
  line-height: 100%;
  letter-spacing: 0%;
}

.badge-1 { top: 15%; left: 34%; transform: translateX(-50%); }
.badge-2 { top: 20%; right: 22%; }
.badge-3 { top: 40%; left: 19%; }
.badge-4 { bottom: 45%; right: 2%; }
.badge-5 { bottom: 30%; left: 6%; }
.badge-6 { bottom: 23%; right: 12%; }

.center-text-of-technology {
  transform: translateY(290px);
}

.center-text-of-technology h2 {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0%;
}

.center-text-of-technology p {
  color: var(--white-half);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-medium);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.bottom-text-fo-texhnology-trigger {
  transform: translateY(250px);
}

.bottom-text-fo-texhnology-trigger h3 {
  color: var(--white-half);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 50px;
  line-height: 80px;
  letter-spacing: -4%;
}

.bottom-text-fo-texhnology-trigger p {
  color: var(--white-half);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
}

@media (max-width: 425px) {
  .absolute.inset-0.flex.items-center.justify-center {
    position: relative;
    display: block;
    height: 80px;
  }

  .tech-circle {
    width: 100%;
    height: 380px;
    background-size: contain;
    background-position: center;
    transform: translateY(-200px);
  }

  .tech-badge {
    position: absolute;
    top: -130%;
    left: 50%;
    transform-origin: center;
    width: 200px;
    height: 60px;
    padding: 1px 4px;
  }

  .tech-badge img {width: 40px; height: 40px;}
  .tech-badge h4 { font-size: 12px; }
  .tech-badge p { font-size: 7px; }


  .badge-1 { transform: translate(-50%, -50%) rotate(0deg) translateY(-160px) rotate(0deg); }

  .badge-2 { transform: translate(-50%, -50%) rotate(60deg) translateY(-160px) rotate(-60deg); }

  .badge-3 { transform: translate(-50%, -50%) rotate(120deg) translateY(-160px) rotate(-120deg); }

  .badge-4 { transform: translate(-50%, -50%) rotate(180deg) translateY(-160px) rotate(-180deg); }

  .badge-5 { transform: translate(-50%, -50%) rotate(240deg) translateY(-160px) rotate(-240deg); }

  .badge-6 { transform: translate(-50%, -50%) rotate(300deg) translateY(-160px) rotate(-300deg); }

  .center-text-of-technology {
    position: absolute;
    top: -7%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    /* transform: translateY(-380%); */
    width: 80%;
    z-index: 5;
  }

  .center-text-of-technology h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .center-text-of-technology p {
    font-size: 10px;
  }

  .bottom-text-fo-texhnology-trigger {
    transform: none;
    transform: translateY(-20%);
    margin-top: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .bottom-text-fo-texhnology-trigger h3 {
    font-size: 24px;
  }

  .bottom-text-fo-texhnology-trigger p {
    font-size: 15px;
  }

  .bottom-blurry-lines {
    top: 50%;
  }

}


/* what our clients say section */
.grid-background-section {
  background-image: url(../images/grid-background.png);
  background-position: top;
  opacity: 1;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.what-our-client-say-heading span {
  background-color: var(--purple-color-mixed-25);
  color: var(--white-color);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  gap: 12px;
}

.what-our-client-say-heading span .span-2{
  background-color: var(--purple-color-mixed-25);
  border: 1.11px solid var(--purple-color-back);
  gap: 12px;
}

.what-our-client-say-heading h2{
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -4%;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-all-inslider-user {
  background-color: var(--background-dark-gray-80);
  border-radius: 20px;
  border: 1px solid var(--dark-gray-color);
  gap: 45px;
}

.cards-all-inslider-user p {
  color: var(--white-color);
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-400);
  font-style: var(--font-regular);
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}

.cards-all-inslider-user img {
  width: 63px;
  height: 63px;
}

.cards-all-inslider-user h4 {
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-500);
  font-style: var(--font-medium);
  font-size: 27px;
  line-height: 36px;
  letter-spacing: 0%;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-all-inslider-user span{
  color: var(--gray-color-40);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-400);
  font-style: var(--font-light);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}

.cards-all-inslider-user:hover {
  background-color: var(--background-card-dark-to-light-teal-20);
  border: 2px solid var(--teal-green-color);
  transform: translateY(-10px);
}

.user-slider-fade {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (max-width: 425px) {
  .what-our-client-say-heading h2 {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -2%;
  }

  .cards-all-inslider-user {
    max-width: 300px !important;
    height: auto;
    padding: 24px !important;
    margin-right: 15px;
  }

  .cards-all-inslider-user p {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .cards-all-inslider-user h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .cards-all-inslider-user span {
    font-size: 12px;
  }

  .cards-all-inslider-user img {
    width: 48px;
    height: 48px;
  }
  
  #sliderRow1, #sliderRow2 {
    animation-duration: 30s !important;
  }
}
